<div class="main-container">
  <div class="code-bundles-list">
    @for (codeBundle of codeBundles; track codeBundle.id) {
      <div class="code-bundle">
        <mat-slide-toggle (change)="isActiveChange(codeBundle, $event.checked)" [(ngModel)]="codeBundle.isEnabled"></mat-slide-toggle>
        <a [href]="getOptionsPageUrlForRule(codeBundle.id)"
           title="Click to edit code for {{ codeBundle.urlPatternsCommaSeparated }}"
           target="_blank">{{ codeBundle.urlPatternsCommaSeparated }}</a>
      </div>
    }
  </div>
  @if (urlToAddRuleForDomain && urlToAddRuleForPage) {
    <div class="toolbar">
      <button mat-flat-button>
        <a mat-flat-button [href]="urlToAddRuleForDomain" target="_blank">Add code for domain</a>
      </button>
      <button mat-flat-button>
        <a [href]="urlToAddRuleForPage" target="_blank">Add code for this page</a>
      </button>
    </div>
  } @else {
    <div class="not-valid-url">Code bundle couldn't be added to the current page</div>
  }
</div>
