@if (isDeveloperModeEnabled !== undefined) {
  @if (isDeveloperModeEnabled) {
    <div class="workplace">
      <div class="sidebar">
        <mat-toolbar>
          <button mat-button type="button" (click)="addNewCodeBundle()">Add new code bundle</button>
        </mat-toolbar>
        <app-url-pattern-groups-list [loadedCodeBundleId]="this.codeBundleForm.value.id"></app-url-pattern-groups-list>
      </div>
      <form class="editors-area" [formGroup]="codeBundleForm">
        <div class="editors-header">
          <div class="url-patterns-control">
            @if (codeBundleForm.get('urlPatternsCommaSeparated')?.hasError('wrongPatternsGroup')) {
              <div class="error-help">
                <app-icon [icon]="IconSet.error" color="#f00"></app-icon>
                <app-url-patterns-group-requirements></app-url-patterns-group-requirements>
              </div>
            }
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>URL patterns list comma separated</mat-label>
              <input type="text"
                     matInput
                     placeholder="https://site.com/*, !https://site.com/excluded/*"
                     formControlName="urlPatternsCommaSeparated">
            </mat-form-field>
          </div>
          <div class="buttons">
            <button type="button"
                    mat-flat-button
                    color="primary"
                    [disabled]="codeBundleForm.invalid || !codeBundleForm.dirty"
                    (click)="saveCodeBundle()">
              <app-icon [icon]="IconSet.save"></app-icon>
              Save
            </button>
            <button type="button"
                    mat-flat-button
                    color="warn"
                    (click)="removeCodeBundle()"
                    [disabled]="!codeBundleForm.value.id">
              <app-icon [icon]="IconSet.delete"></app-icon>
              Delete
            </button>
          </div>
        </div>
        <div class="editors">
          <app-editor [type]="EditorType.JS"></app-editor>
          <app-editor [type]="EditorType.CSS"></app-editor>
        </div>
      </form>
    </div>
  } @else {
    <app-howto-activate-developer-mode></app-howto-activate-developer-mode>
  }
}
