.workplace {
  height: 100%;
  display: flex;
  gap: .5em;
  .sidebar {
    background-color: #f1f1f1;
    flex: 0 1 20%;
    overflow: hidden;
  }
  .editors-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
    .editors-header {
      padding: .5em .5em 0 0;
      flex: 0 0 auto;
      display: flex;
      align-items: stretch;
      gap: .5em;
      .url-patterns-control {
        position: relative;
        flex: 1 1 auto;
        mat-form-field {
          width: 100%;
        }
        .error-help {
          position: absolute;
          z-index: 9;
          right: 1em;
          top: 1em;
          app-icon {
            display: block;
            position: relative;
            z-index: 1;
            cursor: pointer;
          }
          app-url-patterns-group-requirements {
            border: solid 1px #999;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            display: block;
            width: 600px;
            position: absolute;
            z-index: 0;
            right: -.5em;
            top: -.5em;
          }
          &:not(:hover) {
            app-url-patterns-group-requirements {
              display: none;
            }
          }
        }
      }
      .buttons {
        flex: 0 0 auto;
        gap: .5em;
        display: flex;
        button {
          height: 100%;
        }
      }
    }
    .editors {
      flex: 1 1 auto;
      display: flex;
      app-editor {
        flex: 1 1 50%;
      }
    }
  }
}
