:root {
  --mdc-switch-track-width: 36px;
  --mdc-switch-track-height: 22px;
  --mdc-switch-state-layer-size: 28px;
  --mat-switch-with-icon-handle-size: 16px;
  --mat-switch-pressed-handle-size: 18px;
  --mat-switch-selected-with-icon-handle-horizontal-margin: 0 16px;
  --mat-switch-selected-pressed-handle-horizontal-margin: 0 16px;
  --mat-switch-selected-handle-horizontal-margin: 0 16px;

  --mdc-filled-button-container-shape: 4px;
  --mdc-text-button-container-shape: 4px;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {

  h1, h2, h3 {
    line-height: 1.5;
    font-weight: 500;
  }

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

}

button {
  .mdc-button__label {
    display: flex;
    align-items: center;
    gap: .5em;
  }
  &:not(:disabled) {
    svg {
      fill: #fff;
    }
  }
}

mat-icon {
  svg {
    fill: var(--icon-color);
  }
}
