html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {

  h1, h2, h3 {
    line-height: 1.5;
    font-weight: 500;
  }

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

}
